@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./font/Poppins-Regular.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* COLORS */
  --WR-color-01: #ffffff;
  --WR-color-02: #f5f5f5;
  --WR-color-03: #ff3131;
  --WR-color-04: #2c2c2c13;
  --WR-color-05: #000000;

  /* BACKGROUND */
  --WR-BG-color: var(--WR-color-01);
  /* TEXTS */
  --WR-text-color-01: var(--WR-color-05);
  --WR-text-color-02: var(--WR-color-01);
  /* BUTTONS */
  --WR-button-color-01: var(--WR-color-03);

  /* MARGINS */
  --WR-margin-10: 10px;
  --WR-margin-20: 20px;
  --WR-margin-30: 30px;
  --WR-margin-40: 40px;
  --WR-margin-50: 50px;

  /* PADDINGS */
  --WR-padding-05: 5px;
  --WR-padding-10: 10px;
  --WR-padding-20: 20px;
  --WR-padding-30: 30px;
  --WR-padding-40: 40px;
  --WR-padding-50: 50px;
  /* GAP */
  --WR-gap-10: 10px;
  --WR-gap-20: 20px;
  --WR-gap-30: 30px;
  --WR-gap-40: 40px;
  --WR-gap-50: 50px;

  /* heaer height */
  --WR-header-height-01: 100px;
  --WR-header-height-02: 80px;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* GENERAL STYLE */
a {
  color: var(--WR-text-color-01);
}

button,
a {
  cursor: pointer;
  border: none;
}

label,
h4 {
  font-size: 15px;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* HEADER */
header {
  height: var(--WR-header-height-01);
  border: 1px solid var(--WR-color-04);
  padding: 10px;
}

/* clase para desplegar el menu en movil */
.expand-menu {
  width: 180px;
  height: 220px;
  border-right: 2px solid var(--WR-color-04);
  transition: width 0.5s;
}

.nav {
  gap: var(--WR-gap-30);
  transition: width 0.5s;
}

.nav > li > a:hover {
  border-bottom: 2px solid var(--WR-color-03);
}

header > img {
  width: 100px;
}

.menu {
  display: none;
}

.header-icons {
  margin: 0 var(--WR-margin-10);
}

header > div.flex {
  gap: 10px;
}

.header-icons > a > img,
.header-icons > button > img {
  width: 30px;
}

.header-icons > button {
  background-color: var(--WR-color-01);
}

.header-input > img {
  width: 20px;
}

.header-input > input {
  padding: var(--WR-padding-05);
  border: none;
  border-bottom: 2px solid var(--WR-color-04);
}

/* MAIN */
main {
  min-height: 100svh;
  display: flex;
  position: relative;
}

/* SECTION LOGIN */
/* creo clase para desactivar la interaccion con los elementos debajo de la ventana de login */
.disable-hover > article {
  pointer-events: none;
}

#login {
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* centro el elemento, como si su punto de orgien fuera al centro */
  background-color: var(--WR-color-01);
  border-radius: 20px;
  box-shadow: 0px 0px 25px -4px grey;
  padding: var(--WR-padding-30);
}

#login > button:first-child {
  background-color: var(--WR-color-01);
  padding: 0;
  margin: 0;
  position: relative;
  left: 45%;
}

#login > button:first-child > img {
  height: 15px;
}

#login > h3 {
  text-align: center;
  margin-bottom: var(--WR-margin-10);
}

#form-login {
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

#form-login > div {
  width: 100%;
  gap: 20px;
  justify-content: center;
}

#form-login > div input {
  border: 2px solid var(--WR-color-04);
  border-radius: 10px;
  padding: var(--WR-padding-10);
  text-align: center;
}

/* cerrar el login */
.closed {
  display: none;
}

/* SECTION FILTER */
#filter {
  width: 30%;
  min-width: 370px;
  height: 350px;
  background-color: var(--WR-color-02);
  margin: var(--WR-margin-50);
  border: 1px solid var(--WR-color-04);
  display: flex;
  flex-direction: column;
  padding: var(--WR-padding-30);
}

#filter > h3 {
  text-align: center;
  padding-bottom: var(--WR-padding-10);
  margin-bottom: var(--WR-margin-10);
}

.filterDiv {
  border-bottom: 1px solid var(--WR-color-04);
  padding-bottom: var(--WR-padding-10);
  justify-content: center;
  gap: var(--WR-gap-20);
  margin-bottom: var(--WR-margin-10);
}

.filterDiv > h4 {
  font-weight: 300;
}

.filterDiv > select {
  padding: var(--WR-padding-05) var(--WR-padding-20);
  text-align-last: center;
  border-radius: 15px;
}

#price {
  padding: var(--WR-padding-10) var(--WR-padding-20);
  border-radius: 15px;
  border: none;
}

#price:focus {
  border: 1px solid var(--WR-color-03);
}

/* hacer visibles arrows para el filtro del precio en Chrome */
#price::-webkit-inner-spin-button {
  opacity: 1;
}

.buttonFilter,
.login-button {
  padding: var(--WR-padding-10) var(--WR-padding-40);
  margin: var(--WR-margin-10) auto var(--WR-margin-10);
  background-color: var(--WR-color-05);
  color: var(--WR-text-color-02);
  border-radius: 15px;
}

.buttonFilter:hover,
.login-button:hover {
  background-color: var(--WR-color-03);
}

/* SECTION PRODUCTS  */
#products {
  margin: var(--WR-padding-50);
  padding: var(--WR-padding-30);
  width: 70%;
  border-left: 1px solid var(--WR-color-04);
  text-align: center;
}
#products > h3 {
  font-size: 30px;
  margin-bottom: 80px;
}

#products > h4 {
  margin-bottom: var(--WR-margin-50);
  background-color: var(--WR-color-03);
  color: var(--WR-color-01);
  padding: var(--WR-padding-10);
}

.products {
  flex-wrap: wrap;
  gap: var(--WR-gap-10);
  margin: var(--WR-margin-50);
}

.products > article {
  min-width: 200px;
  max-width: 250px;
  min-height: 300px;
  border: 1px solid var(--WR-color-04);
  cursor: pointer;
  padding: var(--WR-padding-10);
  transition: all 0.5s;
  margin-bottom: var(--WR-margin-40);
}
.products > article:hover {
  transform: scale(1.05);
  border: 1px solid var(--WR-color-03);
}

.products > article > div {
  width: 100%;
  height: 70%;
}

.products > article > div > img {
  width: 100%;
  background-size: contain;
}

.products > article > h3 {
  font-size: 15px;
  margin: var(--WR-margin-10);
}

.products > article > p {
  font-size: 13px;
  margin: var(--WR-margin-10);
}

/* FOOTER */
.flex-footer {
  align-items: flex-start;
  padding: var(--WR-padding-40) 0 var(--WR-padding-20) 0;
  margin: var(--WR-margin-50);
  margin-bottom: var(--WR-margin-30);
  border-top: 1px solid var(--WR-color-04);
}

.flex-footer p,
.flex-footer li {
  font-size: 13px;
}

.flex-footer > div {
  max-width: 30%;
}

.flex-footer > div * :not(.send-email *) {
  margin-bottom: 5px;
}

.send-email {
  display: flex;
  align-items: flex-end;
}

.send-email > button > img {
  width: 24px;
  display: block;
}

.social > div > a > img {
  width: 20px;
}

.social > img {
  width: 150px;
}

/* MEDIA QUERY */

@media (max-width: 1000px) {
  #login {
    top: 5%;
  }
  #filter {
    width: 100%;
    margin-right: var(--WR-margin-20);
    padding: var(--WR-padding-10);
  }
  #products {
    margin-left: var(--WR-padding-20);
    padding: var(--WR-padding-10);
  }

  .nav {
    gap: var(--WR-gap-10);
  }
}

@media (max-width: 800px) {
  header.flex {
    justify-content: space-evenly;
  }

  header {
    height: var(--WR-header-height-02);
    width: 100%;
    padding: 20px;
  }

  nav {
    position: absolute;
    top: var(--WR-header-height-02);
    left: 0;
    height: 220px;
    margin: 0;
    font-size: 13px;
    width: 0;
    overflow: hidden;
    background-color: var(--WR-color-01);
    transition: width 0.5s;
    z-index: 1;
  }

  ul.flex {
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
  }

  nav > ul {
    padding-left: 20px;
    height: 100%;
  }

  .menu {
    display: inline-block;
    background-color: var(--WR-color-01);
    padding: var(--WR-padding-10);
  }

  .menu > img {
    display: block;
  }

  .header-icons {
    margin: 0 var(--WR-margin-10);
  }

  .header-icons > a > img {
    width: 20px;
  }

  .header-input > input {
    width: 100px;
  }
  main {
    flex-direction: column;
    align-items: center;
  }

  #login {
    top: 5%;
    width: 350px;
    padding: var(--WR-padding-10);
    z-index: 1;
  }

  #login > button:first-child {
    top: 10px;
  }

  #filter {
    width: 100%;
    height: 330px;
    margin: var(--WR-margin-30);
    border: 1px solid var(--WR-color-04);
    padding: var(--WR-padding-10);
  }

  #products {
    margin: var(--WR-padding-30);
    padding: var(--WR-padding-20);
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  .flex-footer p,
  .flex-footer li,
  .send-email {
    display: none;
  }

  .flex-footer {
    align-items: center;
  }

  .flex-footer > div {
    max-width: 100%;
  }

  .flex-footer h4 {
    margin-bottom: var(--WR-margin-10);
  }

  .social {
    margin-top: var(--WR-margin-20);
  }
}

@media (max-width: 450px) {
  header {
    padding: var(--WR-padding-10);
  }
  .header-input > input {
    font-size: 10px;
    width: 80px;
  }

  .header-input > img {
    width: 15px;
  }

  #login {
    width: 90%;
  }

  #filter {
    height: 300px;
  }

  #filter > h3 {
    font-size: 15px;
  }

  .filterDiv > select {
    font-size: 12px;
    padding: var(--WR-padding-05) var(--WR-padding-10);
  }
  .flex-footer {
    margin: var(--WR-margin-20);
  }

  h4 {
    font-size: 10px;
  }

  .filterDiv > h4,
  label,
  #products > h4 {
    font-size: 13px;
  }

  .buttonFilter {
    padding: var(--WR-padding-10) var(--WR-padding-20);
    margin: var(--WR-margin-10) auto var(--WR-margin-10);
    font-size: 12px;
  }

  #products > h3 {
    font-size: 20px;
    margin-bottom: var(--WR-margin-50);
  }
}
